<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.millennium.videotranscoder</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/python3</string>
        <string>/Users/mdc-mo-adob-001/Documents/Millennium AME AutoBridge/video_transcoder.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/mdc-mo-adob-001/Documents/Millennium AME AutoBridge/video_transcoder.log</string>
    <key>StandardOutPath</key>
    <string>/Users/mdc-mo-adob-001/Documents/Millennium AME AutoBridge/video_transcoder.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/mdc-mo-adob-001/Documents/Millennium AME AutoBridge</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist> 